{% extends "fragments/base.html" %}

{% block title %}{{ task.name }} - {{ block.super }}{% endblock %}

{% block content %}
    <div class="row">

        <div class="col">
            <div class="card p-4">
                <div class="d-flex justify-content-between align-items-center">
                    <h2>Task</h2>
                    <form action="{% url "render_change" %}" method="post" autocomplete="off">
                        {% csrf_token %}
                        <input type="hidden" name="task" id="id_task" value="{{ task.pk }}">
                        {% if task.pk in request.session.queue %}
                            <input type="hidden" name="action" id="id_action" value="1">
                            <button type="submit" class="material-icons btn">bookmark</button>
                        {% else %}
                            <input type="hidden" name="action" id="id_action" value="0">
                            <button type="submit" class="material-icons btn">bookmark_border</button>
                        {% endif %}
                    </form>
                </div>

                <br>
                <p>{{ task.task|linebreaksbr }}</p>

                <br>
                <div>
                    {% for tag in task.tags.all %}
                        <a href="{% url "tags_details" tag.pk %}" class="badge badge-primary">{{ tag.tag }}</a>
                    {% endfor %}
                </div>

            </div>
            <br>
            <div class="card p-4">
                <h2>Solution</h2>
                <br>
                <p>{{ task.answer|linebreaksbr }}</p>
                <hr/>
                <div class="d-flex justify-content-between align-items-center">
                    <h3>Approach</h3>
                    <button data-toggle="collapse"
                            data-target="#approach"
                            aria-expanded="false"
                            aria-controls="#approach"
                            class="btn material-icons">
                        <span class="expand-more">expand_more</span>
                        <span class="expand-less">expand_less</span>
                    </button>
                </div>
                <div class="collapse" id="approach">
                    <br>
                    {{ task.approach|linebreaksbr }}
                </div>
            </div>
            <br>
        </div>

        <div class="col-lg-3">
            <div class="card p-3">
                <h6>{{ task.user.first_name }} {{ task.user.last_name }}</h6>
                <small class="text-muted">{{ task.created }}</small>
                <br>
                <small class="text-muted">more coming soon.</small>
            </div>
            <br>
            <br>
            <button class="btn btn-primary btn-block">Edit</button>
        </div>


    </div>

    <style>
        button[aria-expanded=true][data-target="#approach"] .expand-more {
            display: none;
        }

        button[aria-expanded=false][data-target="#approach"] .expand-less {
            display: none;
        }
    </style>
{% endblock %}