{% load static %}

{% if user.is_authenticated %}

    <nav class="navbar navbar-expand-md navbar-light justify-content-between">
        <div class="container">
            <a class="navbar-brand" href="{% url "tasks_overview" %}">
                <img width="24" height="24" src="{% static "core/img/logo.png" %}" alt="">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar-content">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>

                <ul class="navbar-nav">
                    <li class="nav-item dropdown d-none d-sm-none d-md-block">
                        <a href="{% url "render_render" %}" class="material-icons nav-link">inbox</a>
                    </li>
                    <li class="nav-item dropdown d-none d-sm-none d-md-block">
                        <a href="" class="material-icons nav-link" data-toggle="dropdown">person</a>
                        <div class="dropdown-menu dropdown-menu-right profile-dropdown">
                            <h6 class="dropdown-header">{{ user.first_name }} {{ user.last_name }}</h6>
                            <a class="dropdown-item" href="#">Profile</a>
                            <a class="dropdown-item" href="{% url "auth_logout" %}">Logout</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown d-sm-block d-block d-md-none">
                        <a href="{% url "render_render" %}" class="nav-link">Render</a>
                        <a href="#" class="nav-link">Profile</a>
                        <a href="{% url "auth_logout" %}" class="nav-link">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

{% else %}

    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container">
            <a class="navbar-brand" href="{% url "tasks_overview" %}">
                <img width="24" height="24" src="{% static "core/img/logo.png" %}" alt="">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbar-content">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>

                <ul class="navbar-nav">
                    <li class="nav-item dropdown d-none d-sm-none d-md-block">
                        <a class="btn btn-outline-primary" href="{% url "auth_login" %}">Login</a>
                    </li>

                    <li class="nav-item dropdown d-sm-block d-block d-md-none">
                        <a href="{% url "auth_login" %}" class="nav-link">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

{% endif %}