{% if paginator.has_other_pages %}
    <ul class="pagination justify-content-end">
        {% if paginator.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ paginator.previous_page_number }}">&laquo;</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link"><span>&laquo;</span></a>
            </li>
        {% endif %}

        {% for n in paginator.paginator.page_range %}
            {% if paginator.number == n %}
                <li class="page-item active">
                    <span class="page-link">{{ n }}</span>
                </li>
            {% elif n > paginator.number|add:"-3" and n < paginator.number|add:"3" %}
                <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
            {% endif %}
        {% endfor %}

        {% if paginator.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ paginator.next_page_number }}">&raquo;</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link"><span>&raquo;</span></a>
            </li>
        {% endif %}
    </ul>
{% endif %}